.form-logout {
    margin: 0;
    padding: 0;
}
.form-profile {
    margin: 0;
    padding: 0;
}
/*.navbar-fixed-top {*/
    /*position: fixed;*/
    /*right: 0;*/
    /*left: 0;*/
    /*top: 0;*/

/*}*/